{% extends "base.html" %}


{% block content %}

<style>
     h1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 300%;
            color: white;
            text-align: center;
       }

        body{
            
            background: linear-gradient(90deg, rgb(204, 6, 39),rgb(51, 48, 48) );
         }

         p{
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: larger;
            padding-bottom: 30pt;
            
         }
         .users{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: auto;
            border: 1px solid rgb(41, 38, 38);
            margin: auto;
            width: 50%;
            text-align: center;
            
            box-shadow: 0px 4px 8px 0px  rgba(0, 0, 0.2);  ;


         }
         td{
            margin: 10px;
            padding: 10px;
            
         }
        .users th{
            padding-bottom: 15px;
            padding-top: 10px;
            
        }
        .users tr:hover{
            background: rgb(206, 84, 84);
            color: rgb(99, 30, 30);

        }
            
         
         
         


</style>


<h1>LEADERBOARD</h1>
<P>This page is dedicated to our esteemed <b>users</b> that fixed the most snippets in the past
     <b>30 days! whoops!!!</b> </P>

<table class="users">
    <tr>
        <th>USER</th>
        <th>EDITS</th>
    </tr>
    <tr>
        <td>John576</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Franlyn45</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Jane50</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Pete101</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Desmond32</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Kelly06</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Angie34</td>
        <td>11</td>
    </tr>
    <tr>
        <td>Olabisi21</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Fiona43</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Kels2</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Jrue</td>
        <td>12</td>
    </tr><tr>
        <td>Marvel67</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Drills</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Ola34</td>
        <td>1</td>
    </tr>
    <tr>
        <td>puppy78</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Fensy09</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Piggy45</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Roy7</td>
        <td>35</td>
    </tr>
    <tr>
        <td>Dove76</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Kenny6</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Emma76</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Billy</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Aisha3</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Preshy56</td>
        <td>1</td>
    </tr>


























</table>     

{% endblock %}    

